.idea/
__pycache__/
datasets/lcb_part6.json
datasets/mbppplus.json
datasets/lcb_try
datasets/lcb_try_batches
result/
lcb_1/
dataset_test/
.DS_Store
data_dir*/
report_dir*/
datasets/lcb_random30_1.txt
datasets/lcb_random30_2.txt
datasets/lcb_random30.txt
datasets/output_files
datasets/no_use/
datasets/no_use/random_select.py
src/just_tri_it/gen_test.py
src/just_tri_it/input_generator_yh.py
exp09*/
exp10*/
log_*
atcoder_*/
leetcode_*/
datasets/failed_task.txt
out_of_25_half_*/